{% extends 'tool/layout/layout.html' %}
{% block title %}Profile{% endblock %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<script src="{% static 'js/profile.js' %}"></script>
{% load common %}
<!-- <link rel="stylesheet"  type="text/css" href="{% static 'css/user.css' %}"> -->
<div class="container">
    <center>
        <img src="{{profile.user|get_avatar_url}}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
        <h3 class="media-heading">{{profile.user.last_name}} {{profile.user.first_name}}</h3>
        <span><strong>Work as: </strong>{{profile.role}}</span>
        <!-- <span><strong>Skills: </strong></span>
            <span class="label label-warning">HTML5/CSS</span>
            <span class="label label-info">Adobe CS 5.5</span>
            <span class="label label-info">Microsoft Office</span>
            <span class="label label-success">Windows XP, Vista, 7</span> -->
        </center>
        <hr>
        <center>
        <p class="text-left"><strong>Bio: </strong><br>
            {{profile.desc}}
        <br>
    </center>
</div>
{% endblock %}