<!DOCTYPE html>
<html>
{% block head %}
<head>
    <title>
        {% block title %}My app{% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet"  type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">    
    <link rel="stylesheet"  type="text/css" href="{% static 'css/auth.css' %}">
</head>
{% endblock %}
<body style="height: 100vh; background-color: #D2D3DE">
    {% block body %}
    {% endblock %}
</body>
</html>
