{% extends 'tool/layout/layout.html' %}
{% block body %}
    {% load static %}
    <script src="{% static 'js/user.js' %}"></script>
    {% block header_title %}
        <h1>User Managers</h1>
    {% endblock %}
    
    <a href="{% url 'tool:user_add' %}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> New User</a>    
    <table class="user_list table table-bordered table-striped" id='crud-table'>
        <thead>
          <tr>
            <th data-sort="int" data-sort-default="asc" class="text-center" id="id" type="text" prime="true" static="true">
                ID
                <i class="fa fa-sort pull-right" aria-hidden="true"></i>
            </th>
            <th data-sort="string" class="text-center" id="first_name" type="text">
                First Name
                <i class="fa fa-sort pull-right" aria-hidden="true"></i>
            </th>
            <th data-sort="string" class="text-center" id="last_name" type="text">
                Last Name
                <i class="fa fa-sort pull-right" aria-hidden="true"></i>
            </th>
            <th data-sort="string" class="text-center" id="avatar" type="custom">
                Username
                <i class="fa fa-sort pull-right" aria-hidden="true"></i>
            </th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
              
        <tbody>
            {% for user in users %}
                <tr>
                    <td class="text-center">{{ user.id }}</td>
                    <td class="text-center">{{ user.first_name }}</td>
                    <td class="text-center">{{ user.last_name }}</td>
                    <td class="text-center">{{ user.username }}</td>
                    <td class="text-center">
                        <a href="{% url 'tool:user_edit' user.id %}" class="text-red"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'tool:user_delete' user.id %}" class="text-red icon-delete"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            {% endfor %}
           
        </tbody>
        
    </table>
        

    <div class="pagination">
        <span class="step-links">
            {% if users.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ users.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ users.number }} of {{ users.paginator.num_pages }}.
            </span>

            {% if users.has_next %}
                <a href="?page={{ users.next_page_number }}">next</a>
                <a href="?page={{ users.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}