
{% load static %}
<link rel="stylesheet"  type="text/css" href="{% static 'css/estimate.css' %}">
<script src="{% static 'js/estimate.js' %}"></script>  
<div class="form-group">
    <label style="font-weight:900; font-size:20px; margin: 0px 15px">Choose Project</label>
    <select class="project-select-box" id="">
        {% for project in projects %}
            <option value="{{ project.id }}" 
                selected="{% if forloop.counter0 == 0 %} selected {% endif %}">
                {{ project.name }}
            </option>        
        {% endfor %}
    </select>
    <div class="pull-right">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#line-chart-modal">View Line Chart</button>
            <div id="line-chart-modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div style="height: 500px">
                            <h3 class="text-center">Line Chart</h3>                        
                            <canvas id="chart-pv-ev-ac" width="200" height="200"></canvas>
                        </div><br><br>
                    </div>
                
                </div>
            </div>
        </div>
</div>
<div class="estimate">
    <div class="col-md-3 sheet">
        <table class="table table-bordered table-project-status">
            <thead>
                <td>AT</td>
                <td>PV</td>
                <td>EV</td>
                <td>AC</td>                
            </thead>
            <tbody>
                <tr style="display: none" class="status-tr-template">
                    <td class="AT"></td>
                    <td class="PV"></td>
                    <td class="EV"></td>
                    <td class="AC"></td>                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-9 controls">
        <div class="inputs row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <label for="pd">Project Duration</label>     
                </div>
                <div class="col-md-9">
                    <input type="number" id="pd">                        
                </div>
            </div>
            <br><br>
            <div class="col-md-12">
                <div class="col-md-3">
                    <label for="bac">Budget at Complete</label>     
                </div>
                <div class="col-md-9">
                    <input type="number" id="budget">                        
                </div>
            </div>
            <br><br>
            <div class="col-md-12">
                <div class="col-md-3">
                    <label for="evaluation-point">Evaluation point (AT)</label>     
                </div>
                <div class="col-md-9">
                    <input type="text" id="evaluation-point" value="9">
                    <input type="radio" name="project_evaluate" value="0.25">25%
                    <input type="radio" name="project_evaluate" value="0.5" checked>50%
                    <input type="radio" name="project_evaluate" value="0.75">75%                         
                </div>
            </div>
            <br><br>            
            <div class="col-md-12">
                <div class="col-md-3">
                    <label for="gm">Growth Model</label>     
                </div>
                <div class="col-md-9">
                    <input type="radio" name="grow-model" value="gompertz" id="gm" checked="checked">Gompertz Model
                    <input type="radio" name="grow-model" value="logistic" id="lm">Logistic Model                        
                    <input type="radio" name="grow-model" value="bass" id="bm">Bass Model                        
                    <input type="radio" name="grow-model" value="weibull" id="wm">Weibull Model                        
                    <!-- <input type="radio" name="grow-model" value="log_logistic" id="llm">Log Logistic Model                         -->
                </div>
            </div>
            <br>
            <div class="col-md-12">
                    <div class="col-md-3">
                        <label for="gm">Estimate Algorithm (Least square)</label>     
                    </div>
                    <div class="col-md-9">
                        <input type="radio" name="algorithm" value="trf" checked="checked"> Trust Region Reflective
                        <input type="radio" name="algorithm" value="dogbox">Dogleg                        
                        <input type="radio" name="algorithm" value="lm">Levenberg-Marquardt                        
                    </div>
                </div>
            <br>
            <div class="col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <button class="btn btn-primary" id="btn-est-param">Parameters Estimate</button>                    
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-12">
                <div class="col-md-6">
                    <h4><b>Estimated parameters</b></h4>    
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <label for="alpha">Alpha</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="alpha">
                </div>
                <div class="col-md-3">
                    <label for="beta">Beta</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="beta">
                </div>
            </div>          
            &nbsp;
            <div class="col-md-12">
                <div class="col-md-3">
                    <label for="gamma">Gamma</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="gamma">
                </div>
            </div>
            <br>
            <div class="Test" style="display: none">
                <h3>Test parameters</h3>
                <input type="text" id="data-test" value="1">   
                <button id="btn-test" class="btn">Test</button>  
                <br>
                <label for="result-test">Result Test</label>
                <p id="result-test"></p>
                <label for="right-result">Right Result</label>
                <p id="right-result"></p>
            </div>
        </div>
        <br>
        <div class="predict-result row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <td>ES</td>
                        <td>SPI</td>
                        <td>CPI</td>
                        <td>SPI(t)</td>
                        <td>SCI</td>
                        <td>SCI(t)</td>
                        <td>TV</td>
                        <td>ED</td>                        
                    </thead>
                    <tbody>
                        <tr>
                            <td id="ES"></td>
                            <td id="SPI"></td>
                            <td id="CPI"></td>
                            <td id="SPIt"></td>
                            <td id="SCI"></td>
                            <td id="SCIt"></td>
                            <td id="TV"></td>
                            <td id="ED"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <td>EAC(t)PV1</td>
                        <td>EAC(t)PV2</td>
                        <td>EAC(t)PV3</td>
                        <td>EAC(t)ED1</td>
                        <td>EAC(t)ED2</td>
                        <td>EAC(t)ED3</td>
                        <td>EAC(t)ES1</td>
                        <td>EAC(t)ES2</td>
                        <td>EAC(t)ES3</td>                                                
                    </thead>
                    <tbody>
                        <tr>
                            <td id="EACtPV1"></td>
                            <td id="EACtPV2"></td>
                            <td id="EACtPV3"></td>
                            <td id="EACtED1"></td>
                            <td id="EACtED2"></td>
                            <td id="EACtED3"></td>
                            <td id="EACtES1"></td>
                            <td id="EACtES2"></td>
                            <td id="EACtES3"></td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <td>EAC1</td>
                        <td>EAC2</td>
                        <td>EAC3-SPI</td>
                        <td>EAC3-SPI(t)</td>
                        <td>EAC4-SCI</td>
                        <td>EAC4-SCI(t)</td>
                        <td>EAC5-CI</td>
                        <td>EAC5-CI(t)</td>
                        <td>EAC-GM1</td>
                        <td>EAC-GM2</td>                                                                        
                        <td>EAC-GM3</td>                                                                        
                    </thead>
                    <tbody>
                        <tr>
                            <td id="EAC1"></td>
                            <td id="EAC2"></td>
                            <td id="EAC3-SPI"></td>
                            <td id="EAC3-SPIt"></td>
                            <td id="EAC4-SCI"></td>
                            <td id="EAC4-SCIt"></td>
                            <td id="EAC5-CI"></td>
                            <td id="EAC5-CIt"></td>
                            <td id="EAC-GM1"></td>
                            <td id="EAC-GM2"></td>                                                        
                            <td id="EAC-GM3"></td>                                                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- <script src="{% static 'js/main/index.js' %}"></script> -->

