{% extends 'tool/layout/layout.html' %}

{% block body %}
<div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#estimate" data-toggle="tab">Estimate</a></li>
                <li><a href="#mape" data-toggle="tab">PE & MAPE</a></li>
            </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="estimate">{% include "tool/estimate/estimate.html" %}</div>
            <div class="tab-pane fade" id="mape">{% include "tool/estimate/mape.html" %}</div>
        </div>
    </div>
</div>
{% endblock %}