.alert {
    width: 80%;
    color: #000000!important;
    background-image: none;
}

.display-none {
    display: none!important;
}

button {
    min-width: 150px;
}

.custom-table-border tr td {
    border: 1px solid #b2b2b2!important;
}